<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="For Authorized Personal Only">
    <meta name="author" content="DariusSG">

    <title>{{page_title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static('css/main.css') }}" rel="stylesheet">

    <!-- Globalnav for the site -->
    <link href="{{ static('css/globalnav.css') }}" rel="stylesheet">

    <!-- Globalfoot for the site -->
    <link href="{{ static('css/globalfoot.css') }}" rel="stylesheet">

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{{ static('fonts/fonts.css') }}" media="all">

    <!-- Scripts -->
    <script src="{{ static('js/globalnav.js') }}"></script>

    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <div class="nav-container">
        <nav id="globalnav">
            <ul class="gn-header">
                <li>
                    <div class="menu-icon-container">
                        <div class="menu-icon">
                            <span class="line-1"></span>
                            <span class="line-2"></span>
                        </div>
                    </div>
                </li>
                <li><a href="/" class="gn-link-logo"></a></li>
                <li></li>
            </ul>
            <ul class="gn-list">
                <li class="gn-item-menu gn-apple-logo">
                    <a class="gn-link gn-link-logo" href="/"></a>
                </li>
                <li class="gn-item-menu gn-blog">
                    <a class="gn-link gn-link-blog" href="/blog.html">
                        <span class="gn-link-text">Blog</span>
                    </a>
                </li>
                <li class="gn-item-menu gn-repo">
                    <a class="gn-link gn-link-repo" href="/repo.html">
                        <span class="gn-link-text">GitHub Repo</span>
                    </a>
                </li>
                <li class="gn-item-menu gn-about">
                    <a class="gn-link gn-link-about" href="/about.html">
                        <span class="gn-link-text">About</span>
                    </a>
                </li>
                <li class="gn-item-menu gn-contact">
                    <a class="gn-link gn-link-contact" href="/contact.html">
                        <span class="gn-link-text">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {% block content %}{% endblock %}

    <footer id="footer" class="footer" role="contentinfo" aria-labelledby="footer-label">
        <div class="footer-content">
            <h2 class="footer-label" id="footer-label" aria-hidden="true">{{ page_title}}</h2>

            <nav class="footer-breadcrumbs" aria-label="breadcrumb" role="navigation">
                <a href="https://www.apple.com" class="home footer-breadcrumbs-home">
                    <span class="footer-breadcrumbs-home-icon"></span>
                    <span class="visuallyhidden">DariusSG</span>
                </a>
                <div class="footer-breadcrumbs-path">
                    <ol class="footer-breadcrumbs-list">
                        {% for links in page_dir %}
                        <li class="footer-breadcrumbs-item">
                            {% if links.link %}<a class="footer-breadcrumbs-link" href="/">{{links.name}}</a>{% else %}{{links.name}}{% endif %}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </nav>

            <section class="footer-mini" vocab="https://schema.org/" typeof="Organization">
                <div class="footer-mini-legal">
                    <div class="footer-mini-legal-copyright">Copyright © 2022 <a href="https://www.apple.com">DariusSG</a> All rights reserved.</div>
                    <ul class="footer-mini-legal-links">
                        <li><a class="footer-mini-legal-link" href="mailto:opensource@apple.com">Contact</a></li>
                    </ul>
                </div>
            </section>

        </div>
    </footer>
    {% block tail %}{% endblock %}

  </body>
</html>
